<div class="header-admin">
    <img src="https://avatar-redirect.appspot.com/google/106985616779575625930?size=400">
    <p class=" dropdown-toggle" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </p>
    <div class="dropdown-menu" aria-labelledby="dropdownProfile">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Logout</a>
    </div>
</div>