<!-- Footer -->
<footer class=" footer text-center text-lg-start  text-muted">
    <!-- Section: Social media -->


    <!-- Section: Links  -->
    <section class="footer-top">
        <div class="c">
            <!-- Grid row -->
            <div class="row ">
                <!-- Grid column -->
                <div class="row1 col-md-3 col-lg-4 col-xl-3">
                    <!-- Content -->
                    <a href="#" class="SiteImg"> <img src="/image/web/logo4.png"></a>
                    <p>
                        Lorem ipsum dolor sit ametco nsec te tuer adipiscing elitae
                    </p>
                    <ul>
                        <li><a href="#">
                                <i class="far fa-envelope"></i>
                                explora@qode.com</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-phone-alt"></i>
                                1 562 867 5309</a>
                        </li>
                        <li><a href="#">
                                <i class="fas fa-map-marker-alt"></i>
                                Broadway & Morris St, New York</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="row2 col-md-3 col-lg-4 col-xl-3">
                    <!-- Links -->
                    <ul>
                        <li>
                            <h5 class="">
                                Policy
                            </h5>
                            <h6>
                                <a href="#">Book Tour Policy</a>
                            </h6>

                        </li>
                        <li>
                            <h6>
                                <a href="#">Security Policy</a>
                            </h6>

                        </li>
                        <li>
                            <h6>
                                <a href="#">Cancellations & Refunds</a>
                            </h6>

                        </li>
                       
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="row3 col-md-3 col-lg-4 col-xl-3">
                    <!-- Links -->
                    <h5 class="">
                        Subscribe to our Newsletter
                    </h5>
                    <p> Etiam rhoncus. Maecenas temp us, tellus eget condimentum rho</p>
                    <form>
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <button>SUBSCRIBE</button>
                    </form>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="social col-md-4 col-lg-3 col-xl-3 ">
                    <!-- Links -->
                    <h5 class="">
                        Connect with us
                    </h5>
                    <p>Aliquam lorem ante, dapibus inviver raqui feugiat a, tellus. Phasellus null</p>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram-square"></i>
                        <i class="fab fa-twitter-square"></i>
                        <i class="fab fa-youtube-square"></i>
                    </div>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="footer-bt text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Powered by @
        <a class="fw-bold" href="https://mdbootstrap.com/">Qode Interactive 2018</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->