.create form > div {
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.create form button {
  margin-top: 30px;
  background-color: #3fd0d4;
  border: none;
  width: 100%;
  padding: 20px;
  opacity: 2;
  font-size: 1.3rem;
}
.create form textarea {
  resize: none;
  height: 100px;
}

.create form input {
  position: relative;
}
.create form i {
  position: absolute;
  top: 40px;
  right: 30px;
  color: red;
  display: none;
}
.create form div .d-e {
  margin-top: 3px;
  font-size: 14px;
  color: red;
  margin-left: 5px;
  display: none;
}
.create form .error .d-e {
  display: block;
}
.create form .error i {
  display: block;
}
.create form .error input {
  border: 1px solid red;
}
.create .images ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  list-style-type: none;
}
.create .images ul li {
  height: 40vh;
  flex-grow: 1;
  position: relative;
}
.create .images ul li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.create .images ul li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.create .images ul li:last-child {
  flex-grow: 10;
}
.remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
  background: #e54e4e;
  padding: 3px 7px 5px;
  top: -11px;
  right: -11px;
}
.remove-image:active {
  background: #e54e4e;
  top: -10px;
  right: -11px;
}
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.categories .category {
  border: 2px #3fd0d4 solid;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.categories .category.selected {
  background-color: #3fd0d4;
  color: white;
}
.create .plan {
  margin-left: 15px;
  display: none;
}

.create .plan p {
  margin-top: 20px;
  width: 100%;
}

.create .show {
  display: flex;
}

.create .plan .plan-day {
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  width: 48%;
  padding: 0 10px 10px 10px;
  margin: 5px;
}

.create .plan .show {
  display: block;
}

.create .plan .plan-day p {
  font-size: 14px;
  margin: 10px 0;
}

.create .plan .plan-day input {
  font-size: 13px;
}

.create .plan .plan-day label {
  font-size: 13px;
}
/* .create #search-results-loader.d-none {
  display: none;
} */
